<!DOCTYPE html>
<html>
<head>
    <title>Geolocalización</title>
</head>
<body>
<h1>Geolocalización</h1>
<p>Guardar la ubicación automáticamente.</p>

<script>
    function guardarUbicacion() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;

                var coordenada = {
                    latitud: latitude,
                    longitud: longitude
                };

                fetch('/api/geolocation/add', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(coordenada)
                })
                    .then(response => response.text())
                    .then(data => {
                        console.log(data);
                        console.log("Exito");
                    })
                    .catch(error => {
                        console.error('Error al guardar la ubicación: ' + error);
                    });
            });
        } else {
            console.error('La geolocalización no está habilitada en este navegador.');
        }
    }

    // Llama a la función para obtener y guardar la ubicación al cargar la página
    guardarUbicacion();
</script>
</body>
</html>