<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Incluye Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Otras etiquetas del encabezado -->
    <style>
        body {
            margin: 0; /* Elimina el margen predeterminado del cuerpo de la página */
            padding: 0; /* Elimina el relleno predeterminado del cuerpo de la página */
        }

        #map-container {
            position: absolute;
            top: 50px; /* Espaciado en la parte superior del contenedor del mapa */
            left: 50px; /* Espaciado en el lado izquierdo del contenedor del mapa */
            bottom: 50px; /* Espaciado en la parte inferior del contenedor del mapa */
            right: 50px; /* Espaciado en el lado derecho del contenedor del mapa */
            transition: transform 0.5s; /* Agrega una transición suave para la rotación */
        }

        #retroceder-btn {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 1000; /* Asegura que el botón esté sobre el mapa */
            background-color: green; /* Cambia el color del botón a verde */
            color: white; /* Cambia el color del texto del botón a blanco */
        }

        #map {
            height: 100%; /* Ajusta la altura del mapa para que ocupe todo el contenedor */
            width: 100%; /* Ajusta el ancho del mapa para que ocupe todo el contenedor */
        }
    </style>
</head>
<body>
<div id="retroceder-btn" class="btn btn-primary" onclick="retrocederTramos()">Retroceder a Tramos</div>
<div id="map-container">
    <!-- Contenedor para el mapa -->
    <div id="map"></div>
</div>

<script>

    const avenidaBoyacaTres = {
        "coordinates": [

            [
                -74.142301,
                4.605614
            ],
            [
                -74.142945,
                4.603892
            ],
            [
                -74.143395,
                4.602758
            ],
            [
                -74.143782,
                4.601774
            ],
            [
                -74.144178,
                4.600662
            ],
            [
                -74.144586,
                4.599529
            ],
            [
                -74.144758,
                4.599069
            ],
                [
                -74.14228,
                    4.60572
                ],
            [
                -74.142411,
                4.6054
            ],
            [
                -74.142545,
                4.605031
            ],
            [
                -74.143022,
                4.603726
            ],
            [
                -74.143354,
                4.602854
            ],
            [
                -74.143939,
                4.601256
            ],
            [
                -74.14477,
                4.599047
            ],
            [
                -74.144926,
                4.598539
            ],
            [
                -74.145124,
                4.597753
            ],
            [
                -74.145199,
                4.597432
            ],
            [
                -74.145317,
                4.596513
            ],
            [
                -74.145419,
                4.596187
            ],
            [
                -74.145414,
                4.595272
            ],
            [
                -74.145403,
                4.594705
            ],
            [
                -74.145409,
                4.593545
            ],

                [
                -74.14534,
                    4.593005
                ],
            [
                -74.145345,
                4.591604
            ],
            [
                -74.145318,
                4.590952
            ],
            [
                -74.145318,
                4.590085
            ],
            [
                -74.145292,
                4.589364
            ],
            [
                -74.145152,
                4.58884
            ],
            [
                -74.144777,
                4.587888
            ],
            [
                -74.144337,
                4.586813
            ],
            [
                -74.14408,
                4.586075
            ],
            [
                -74.143538,
                4.584738
            ],
            [
                -74.143259,
                4.583979
            ],
            [
                -74.143216,
                4.583738
            ],
            [
                -74.143136,
                4.583198
            ],
            [
                -74.143082,
                4.582642
            ],
            [
                -74.142921,
                4.581883
            ],
            [
                -74.142712,
                4.581311
            ],
            [
                -74.142556,
                4.580888
            ],
            [
                -74.142374,
                4.580412
            ],
            [
                -74.142192,
                4.579947
            ],
            [
                -74.141859,
                4.579033
            ],
            [
                -74.141452,
                4.578113
            ],
            [
                -74.141173,
                4.577434
            ],
            [
                -74.140792,
                4.576642
            ],
            [
                -74.14039,
                4.575851
            ],
            [
                -74.140309,
                4.575685
            ],
            [
                -74.14025,
                4.575493
            ],
            [
                -74.140164,
                4.575284
            ],
            [
                -74.140046,
                4.574691
            ],
            [
                -74.139961,
                4.574316
            ],
            [
                -74.139746,
                4.573386
            ],
            [
                -74.13965,
                4.573076
            ],
            [
                -74.139526,
                4.572562
            ],
            [
                -74.139408,
                4.572001
            ],
            [
                -74.139322,
                4.571584
            ],
            [
                -74.139156,
                4.570857
            ],
            [
                -74.138888,
                4.569723
            ],
            [
                -74.138722,
                4.569744
            ],
            [
                -74.13862,
                4.569718
            ],
            [
                -74.138513,
                4.569643
            ],
            [
                -74.138451,
                4.5695
            ]



        ]
    };

    const coordinatesAvenidaBoyacaTres = avenidaBoyacaTres.coordinates;




    // Coordenadas de Bogotá, Colombia (AvBoyacaTres)

    const bogota = {latitud: 4.580435 , longitud: -74.142346};

    // Obtén las coordenadas de la URL
    const urlParams = new URLSearchParams(window.location.search);
    const coordenadasParam = urlParams.get('coordenadas');
    const coordenadas = JSON.parse(decodeURIComponent(coordenadasParam));

    // Crea un mapa con Leaflet centrado en Bogotá
    var map = L.map('map').setView([bogota.latitud, bogota.longitud], 14);

    // Agrega una capa de mapa base (OpenStreetMap)
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    // Crea una línea de ruta con las coordenadas

    const rutaAvenidaBoyacaTres = L.polyline(coordinatesAvenidaBoyacaTres.map(coord => [coord[1], coord[0]]), { color: 'red' }).addTo(map);

    // Ajusta el mapa para que se ajuste a todas las coordenadas con un pequeño margen
    const allCoordinates = [...coordinatesAvenidaBoyacaTres];

    // Ajusta el mapa para que se ajuste a todas las coordenadas con un pequeño margen
    const bounds = ruta.getBounds().extend(rutaAvenidaBoyacaTres.getBounds());
    map.fitBounds(bounds);

    // Función para retroceder a la página de tramos
    function retrocederTramos() {
        window.location.href = '/usuarios/tramos';
    }
</script>

<!-- Scripts de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
