<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Incluye Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Otras etiquetas del encabezado -->
    <style>
        body {
            margin: 0; /* Elimina el margen predeterminado del cuerpo de la página */
            padding: 0; /* Elimina el relleno predeterminado del cuerpo de la página */
        }

        #map-container {
            position: absolute;
            top: 50px; /* Espaciado en la parte superior del contenedor del mapa */
            left: 50px; /* Espaciado en el lado izquierdo del contenedor del mapa */
            bottom: 50px; /* Espaciado en la parte inferior del contenedor del mapa */
            right: 50px; /* Espaciado en el lado derecho del contenedor del mapa */
            transition: transform 0.5s; /* Agrega una transición suave para la rotación */
        }

        #retroceder-btn {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 1000; /* Asegura que el botón esté sobre el mapa */
            background-color: green; /* Cambia el color del botón a verde */
            color: white; /* Cambia el color del texto del botón a blanco */
        }

        #map {
            height: 100%; /* Ajusta la altura del mapa para que ocupe todo el contenedor */
            width: 100%; /* Ajusta el ancho del mapa para que ocupe todo el contenedor */
        }
    </style>
</head>
<body>
<div id="retroceder-btn" class="btn btn-primary" onclick="retrocederTramos()">Retroceder a Tramos</div>
<div id="map-container">
    <!-- Contenedor para el mapa -->
    <div id="map"></div>
</div>

<script>

    const ciclovia170 = {
        "coordinates": [
            [
                -74.077171,
                4.758102
            ],
            [
                -74.076791,
                4.758058
            ],
            [
                -74.076555,
                4.758054
            ],
            [
                -74.076109,
                4.75811
            ],
            [
                -74.075598,
                4.758154
            ],
            [
                -74.075024,
                4.75829
            ],
            [
                -74.074728,
                4.758422
            ],
            [
                -74.074397,
                4.758642
            ],
            [
                -74.074272,
                4.758747
            ],
            [
                -74.073846,
                4.75918
            ],
            [
                -74.072832,
                4.760271
            ],
            [
                -74.071226,
                4.761925
            ],
            [
                -74.071117,
                4.762012
            ],
            [
                -74.070994,
                4.76208
            ],
            [
                -74.070648,
                4.762228
            ],
            [
                -74.069799,
                4.76254
            ],
            [
                -74.06952,
                4.762591
            ],
            [
                -74.069369,
                4.762594
            ],
            [
                -74.06911,
                4.76256
            ],
            [
                -74.068867,
                4.762487
            ],
            [
                -74.068729,
                4.762424
            ],
            [
                -74.067803,
                4.761745
            ],
            [
                -74.067413,
                4.761535
            ],
            [
                -74.065937,
                4.760432
            ],
            [
                -74.063322,
                4.758423
            ],
            [
                -74.06002,
                4.755996
            ],
            [
                -74.059705,
                4.755728
            ],
            [
                -74.057725,
                4.753816
            ],
            [
                -74.057571,
                4.753742
            ],
            [
                -74.05537,
                4.753274
            ],
            [
                -74.053364,
                4.752976
            ],
            [
                -74.052462,
                4.752735
            ],
            [
                -74.05187,
                4.752601
            ],
            [
                -74.049308,
                4.752084
            ],
            [
                -74.048127,
                4.751863
            ],
            [
                -74.046392,
                4.751459
            ],
            [
                -74.045654,
                4.751263
            ],
            [
                -74.045468,
                4.751199
            ],
            [
                -74.044882,
                4.750918
            ],
            [
                -74.044342,
                4.750716
            ],
            [
                -74.043826,
                4.750577
            ],
            [
                -74.041587,
                4.750036
            ],
            [
                -74.0396,
                4.749539
            ],
            [
                -74.037415,
                4.749016
            ],
            [
                -74.036986,
                4.748927
            ],
            [
                -74.035115,
                4.748621
            ],
            [
                -74.031784,
                4.748109
            ]
        ]
    };

    const coordinates170 = ciclovia170.coordinates;


    const cicloviaAvCarrera9_Usaquen = {
        "coordinates": [
            [
                -74.031797,
                4.747967
            ],
            [
                -74.031985,
                4.74018
            ],
            [
                -74.03205,
                4.738169
            ],
            [
                -74.032131,
                4.734464
            ],
            [
                -74.032191,
                4.732828
            ],
            [
                -74.032265,
                4.730154
            ],
            [
                -74.032297,
                4.728283
            ],
            [
                -74.03238,
                4.725936
            ],
            [
                -74.032461,
                4.722603
            ]
        ]
    };

    const coordinatesAvCarrera9_Usaquen = cicloviaAvCarrera9_Usaquen.coordinates;

    // Coordenadas de Bogotá, Colombia (centro aproximado)
    const bogota = {latitud: 4.609710, longitud: -74.081749};

    // Obtén las coordenadas de la URL
    const urlParams = new URLSearchParams(window.location.search);
    const coordenadasParam = urlParams.get('coordenadas');
    const coordenadas = JSON.parse(decodeURIComponent(coordenadasParam));

    // Crea un mapa con Leaflet centrado en Bogotá
    var map = L.map('map').setView([bogota.latitud, bogota.longitud], 50);

    // Agrega una capa de mapa base (OpenStreetMap)
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    // Crea una línea de ruta con las coordenadas
    const rutaCiclovia170 = L.polyline(coordinates170.map(coord => [coord[1], coord[0]]), {color: 'red'}).addTo(map);
    const rutaAvCarrera9_Usaquen = L.polyline(coordinatesAvCarrera9_Usaquen.map(coord => [coord[1], coord[0]]), { color: 'blue' }).addTo(map);

    // Ajusta el mapa para que se ajuste a todas las coordenadas con un pequeño margen
    // const allCoordinates = [...coordinates50centro, ...coordenadas];

    // Ajusta el mapa para que se ajuste a todas las coordenadas con un pequeño margen
    const bounds = ruta.getBounds().extend(ruta2.getBounds());
    map.fitBounds(bounds);

    // Función para retroceder a la página de tramos
    function retrocederTramos() {
        window.location.href = '/usuarios/tramos';
    }
</script>

<!-- Scripts de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
