<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Tramo y Redireccionar a Prueba</title>
    <!-- Agrega el script de Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <!-- Agrega el script de Leaflet Routing Machine -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <!-- Agrega Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .custom-header {
            background-color: #169213;

            color: #fff;

            padding: 10px;
            /* Espaciado interno */
        }


        #map {
            width: 100%;
            height: 500px;
        }

        .custom-input {
            margin-bottom: 10px;
        }


        .bold-text {
            font-weight: bold;
            color: #000000;

        }

        /* Estilo personalizado para los botones verdes */
        .custom-button {
            background-color: #169213;
            /* Color verde personalizado */
            color: #fff;
            /* Texto en color blanco */
            margin-right: 10px;
            /* Margen derecho entre botones */
        }
        /* Estilo para el botón desplegable */
        .custom-dropdown {
            position: absolute;
            bottom: 10px;
            left: 10px;
        }

        .custom-dropdown .btn {
            background-color: #fff;
            color: #169213;
            border: 2px solid #169213;
        }

        .custom-dropdown .btn:hover {
            background-color: #169213;
            color: #fff;
        }
    </style>
</head>

<body>


<!-- Encabezado verde con botón de retroceso -->
<div class="custom-header">
    <button class="btn btn-light" onclick="history.go(-1)">Retroceder</button>
    <h1 class="text-center">Tu ruta</h1>
</div>

<!-- Mapa de OpenStreetMap -->
<div id="map"></div>

<!-- Contenedor para las etiquetas e inputs del usuario -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Desde</h2>
            <div class="custom-input">
                <label for="etiqueta1">Inicio ruta:</label>
                <input type="text" id="etiqueta1" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <h2>Hasta</h2>
            <div class="custom-input">
                <label for="etiqueta2">Fin ruta:</label>
                <input type="text" id="etiqueta2" class="form-control">
            </div>
        </div>
    </div>
</div>

<!-- Botón desplegable para seleccionar el tramo -->
<div class="container text-left mt-3">
    <div class="dropdown d-inline-block">
        <button class="btn btn-outline-success" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Seleccionar Tramo
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="tramosDropdown">
            <!-- Aquí se llenarán los tramos dinámicamente desde JavaScript -->
        </div>
    </div>
</div>
<!-- Texto resaltado en negrilla y botones verdes en la parte inferior derecha -->
<div class="container text-right mt-3 ">
    <a th:href="@{/rutas/mostrarRutas}" class="btn custom-button">Ver rutas ejecutadas</a>
    <button class="btn custom-button" id="iniciarRecorrido" onclick="agregarRutaCola()">Ver Mapa</button>

</div>
<div class="container text-right mt-3 ">
    <button id="puntosReparacionButton" class="btn custom-button">Puntos de Reparación</button>
    <button id="insertarCoordenadasBtn" class="btn custom-button">Insertar Coordenadas</button>

</div>

<!-- Enlace "¿Necesitas ayuda?" que te dirige a otra pestaña -->
<a href="#ayuda" class="btn btn-link">¿Necesitas ayuda?</a>

<!-- Enlace a la pestaña de ayuda -->
<div id="ayuda">
    <!-- Contenido de la pestaña de ayuda -->
</div>

<!-- Enlace para cargar Leaflet y OpenStreetMap -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script>

    function agregarRutaCola() {
        // Obtener los valores de inicio y fin de la ruta desde los inputs en el HTML
        const iniDireccion = document.getElementById('etiqueta1').value;
        const finDireccion = document.getElementById('etiqueta2').value;

// Realizar una solicitud HTTP POST para agregar la ruta a la cola
        fetch('/rutas/agregar', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
            },
            body: `iniDireccion=${encodeURIComponent(iniDireccion)}&finDireccion=${encodeURIComponent(finDireccion)}`
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al agregar la ruta a la cola');
                }
                // Aquí podrías realizar alguna acción adicional si es necesario
                console.log('Ruta agregada a la cola exitosamente');
                // Llamar a una función o realizar alguna acción adicional después de agregar la ruta
            })
            .catch(error => {
                console.error('Error:', error);
                // Manejar el error en caso de que falle la solicitud
            });
    }



    let tramoSeleccionado;
    // Puedes cargar dinámicamente los tramos desde tu servidor
    const tramos = ["Norte1", "Norte2", "Norte3", "Norte4", "Norte5", "Centro1", "Centro2", "Centro3", "Centro4", "Centro5", "Centro6", "Sur1", "Sur2", "Sur3"];

    // Función para llenar el botón desplegable con los tramos
    function llenarTramosDropdown() {
        const tramosDropdown = document.getElementById("tramosDropdown");

        tramos.forEach(tramo => {
            const tramoButton = document.createElement("button");
            tramoButton.className = "dropdown-item";
            tramoButton.type = "button";
            tramoButton.innerText = tramo;
            tramoButton.addEventListener("click", function () {
                tramoSeleccionado = tramo;
            });
            tramosDropdown.appendChild(tramoButton);
        });
    }

    // Llama a la función para llenar el botón desplegable
    llenarTramosDropdown();

    // Evento para iniciar el recorrido
    document.getElementById('iniciarRecorrido').addEventListener('click', function () {
        // Obtener las coordenadas del usuario (puedes usar geolocalización)
        navigator.geolocation.getCurrentPosition(function (position) {
            const latitudUsuario = position.coords.latitude;
            const longitudUsuario = position.coords.longitude;

            // Realizar la solicitud AJAX al endpoint del controlador
            fetch(`/obtenerCoordenadasTramo/${tramoSeleccionado}`)
                .then(response => response.json())
                .then(coordenadas => {
                    // Encontrar la coordenada más cercana
                    const coordenadaCercana = encontrarCoordenadaCercana(latitudUsuario, longitudUsuario, coordenadas);

                    // Mostrar las coordenadas en la consola
                    console.log('Coordenadas del usuario:', latitudUsuario, longitudUsuario);
                    console.log('Coordenada más cercana:', coordenadaCercana);

                    // Redireccionar a la página 'prueba' con las coordenadas en el URL
                    if (coordenadaCercana) {
                        const url = `/usuarios/ruta/iniciarRecorrido?latitudUsuario=${latitudUsuario}&longitudUsuario=${longitudUsuario}&latitudCercana=${coordenadaCercana.latitud}&longitudCercana=${coordenadaCercana.longitud}`;
                        window.location.href = url;
                    } else {
                        console.error('No se pudo encontrar la coordenada más cercana.');
                    }
                })
                .catch(error => console.error('Error al obtener las coordenadas del tramo:', error));
        });
        });

    // Función para encontrar la coordenada más cercana
    function encontrarCoordenadaCercana(latitudUsuario, longitudUsuario, coordenadas) {
        let coordenadaCercana = null;
        let distanciaMinima = Infinity;

        for (const coordenada of coordenadas) {
            const distancia = calcularDistancia(longitudUsuario, latitudUsuario, coordenada.latitud, coordenada.longitud);

            if (distancia < distanciaMinima) {
                distanciaMinima = distancia;
                coordenadaCercana = coordenada;
            }
        }

        return coordenadaCercana;
    }

    // Función para calcular la distancia entre dos puntos
    function calcularDistancia(lat1, lon1, lat2, lon2) {
        const R = 6371; // Radio de la Tierra en kilómetros
        const dLat = toRad(lat2 - lat1);
        const dLon = toRad(lon2 - lon1);
        const a =
            Math.sin(dLat / 2) * Math.sin(dLat / 2) +
            Math.cos(toRad(lat1)) * Math.cos(toRad(lat2)) *
            Math.sin(dLon / 2) * Math.sin(dLon / 2);
        const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        const distancia = R * c;

        return distancia;
    }

    // Función para convertir grados a radianes
    function toRad(grados) {
        return grados * (Math.PI / 180);
    }

    const map = L.map('map').setView([4.638413449952397, -74.08805811325989], 14)

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        // attribution: 'BiciMaps',
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    const insertarCoordenadasBtn = document.getElementById('insertarCoordenadasBtn');
    insertarCoordenadasBtn.addEventListener('click', function () {
        // Coordenadas de ejemplo, puedes ajustarlas según tus necesidades
        const coordenadasBogota = [
            {"latitud": 4.69553, "longitud": -74.12453},
            {"latitud": 4.64671, "longitud": -74.09871},

        ];

        // Enviar las coordenadas al servidor
        fetch('/puntosReparacion', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(coordenadasBogota),
        })
            .then(response => response.text())
            .then(data => {
                console.log('Respuesta del servidor:', data);

            })
            .catch(error => {
                console.error('Error al insertar coordenadas:', error);
            });
    });

    let marcadoresVisibles = false;
    let marcadorInicio, marcadorFin;

    function insertarCoordenadasYBuscarPuntos() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                const coordenadasUsuario = {
                    latitud: position.coords.latitude,
                    longitud: position.coords.longitude,
                };

                // Insertar coordenadas
                fetch('/puntosReparacion', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify([coordenadasUsuario]),
                })
                    .then(response => response.text())
                    .then(data => {
                        console.log('Coordenadas insertadas exitosamente:', data);

                        // Obtener puntos cercanos
                        return fetch('/obtenerPuntosCercanos', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(coordenadasUsuario),
                        });
                    })
                    .then(response => response.json())
                    .then(puntosCercanos => {
                        // Limpiar marcadores existentes en el mapa solo si ya estaban visibles
                        if (marcadoresVisibles) {
                            map.eachLayer(layer => {
                                if (layer instanceof L.Marker && layer !== marcadorInicio && layer !== marcadorFin) {
                                    map.removeLayer(layer);
                                }
                            });
                            marcadoresVisibles = false; // Marcadores eliminados
                        } else {
                            // Agregar marcadores para los puntos cercanos con el icono rojo
                            for (const punto of puntosCercanos) {
                                L.marker(punto).addTo(map).bindPopup("Punto Cercano");
                            }

                            // Almacenar marcadores de inicio y fin por separado
                            marcadorInicio = L.marker([iniciolat, iniciolong]).addTo(map).bindPopup("Inicio de la Ruta");
                            marcadorFin = L.marker([finlat, finlong]).addTo(map).bindPopup("Fin de la Ruta");

                            marcadoresVisibles = true; // Marcadores agregados
                        }
                    })
                    .catch(error => {
                        console.error('Error al realizar la operación:', error);
                    });
            }, function (error) {
                console.error('Error al obtener la ubicación:', error.message);
            });
        } else {
            console.error('Geolocalización no es compatible en este navegador.');
        }
    }

    // Evento al hacer clic en el botón de puntos de reparación
    document.getElementById('puntosReparacionButton').addEventListener('click', function () {
        insertarCoordenadasYBuscarPuntos();
    });
</script>
</body>

</html>

