<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <title>OpenStreetMap Route</title>
</head>
<body>
<div id="map" style="height: 500px;"></div>
<script>
    const ciclovia170 = {
        "coordinates": [
            [
                -74.077171,
                4.758102
            ],
            [
                -74.076791,
                4.758058
            ],
            [
                -74.076555,
                4.758054
            ],
            [
                -74.076109,
                4.75811
            ],
            [
                -74.075598,
                4.758154
            ],
            [
                -74.075024,
                4.75829
            ],
            [
                -74.074728,
                4.758422
            ],
            [
                -74.074397,
                4.758642
            ],
            [
                -74.074272,
                4.758747
            ],
            [
                -74.073846,
                4.75918
            ],
            [
                -74.072832,
                4.760271
            ],
            [
                -74.071226,
                4.761925
            ],
            [
                -74.071117,
                4.762012
            ],
            [
                -74.070994,
                4.76208
            ],
            [
                -74.070648,
                4.762228
            ],
            [
                -74.069799,
                4.76254
            ],
            [
                -74.06952,
                4.762591
            ],
            [
                -74.069369,
                4.762594
            ],
            [
                -74.06911,
                4.76256
            ],
            [
                -74.068867,
                4.762487
            ],
            [
                -74.068729,
                4.762424
            ],
            [
                -74.067803,
                4.761745
            ],
            [
                -74.067413,
                4.761535
            ],
            [
                -74.065937,
                4.760432
            ],
            [
                -74.063322,
                4.758423
            ],
            [
                -74.06002,
                4.755996
            ],
            [
                -74.059705,
                4.755728
            ],
            [
                -74.057725,
                4.753816
            ],
            [
                -74.057571,
                4.753742
            ],
            [
                -74.05537,
                4.753274
            ],
            [
                -74.053364,
                4.752976
            ],
            [
                -74.052462,
                4.752735
            ],
            [
                -74.05187,
                4.752601
            ],
            [
                -74.049308,
                4.752084
            ],
            [
                -74.048127,
                4.751863
            ],
            [
                -74.046392,
                4.751459
            ],
            [
                -74.045654,
                4.751263
            ],
            [
                -74.045468,
                4.751199
            ],
            [
                -74.044882,
                4.750918
            ],
            [
                -74.044342,
                4.750716
            ],
            [
                -74.043826,
                4.750577
            ],
            [
                -74.041587,
                4.750036
            ],
            [
                -74.0396,
                4.749539
            ],
            [
                -74.037415,
                4.749016
            ],
            [
                -74.036986,
                4.748927
            ],
            [
                -74.035115,
                4.748621
            ],
            [
                -74.031784,
                4.748109
            ]
        ]
    };

    const coordinates170 = ciclovia170.coordinates;

    const mymap = L.map('map').setView([coordinates170[0][1], coordinates170[0][0]], 13);


    const cicloviaAvBoyaca = {
        "coordinates": [
            [
                -74.122008,
                4.51961
            ],
            [
                -74.122177,
                4.520071
            ],
            [
                -74.122545,
                4.52074
            ],
            [
                -74.122934,
                4.521229
            ],
            [
                -74.123684,
                4.522073
            ],
            [
                -74.124169,
                4.522595
            ],
            [
                -74.125342,
                4.523919
            ],
            [
                -74.125613,
                4.524284
            ],
            [
                -74.125938,
                4.524879
            ],
            [
                -74.126064,
                4.525195
            ],
            [
                -74.126161,
                4.525504
            ],
            [
                -74.126231,
                4.525807
            ],
            [
                -74.126322,
                4.526353
            ],
            [
                -74.126847,
                4.53046
            ],
            [
                -74.127286,
                4.533632
            ],
            [
                -74.127368,
                4.534138
            ],
            [
                -74.127542,
                4.534751
            ],
            [
                -74.127651,
                4.535039
            ],
            [
                -74.127812,
                4.535364
            ],
            [
                -74.128132,
                4.535855
            ],
            [
                -74.128278,
                4.536047
            ],
            [
                -74.128586,
                4.536397
            ],
            [
                -74.129042,
                4.536797
            ],
            [
                -74.132119,
                4.539204
            ],
            [
                -74.132797,
                4.539749
            ],
            [
                -74.133096,
                4.54006
            ],
            [
                -74.133278,
                4.540299
            ],
            [
                -74.133521,
                4.540659
            ],
            [
                -74.133642,
                4.540869
            ],
            [
                -74.134623,
                4.542754
            ],
            [
                -74.135241,
                4.543905
            ],
            [
                -74.135414,
                4.544291
            ],
            [
                -74.136652,
                4.5467
            ],
            [
                -74.136761,
                4.547018
            ],
            [
                -74.136849,
                4.547399
            ],
            [
                -74.136867,
                4.547858
            ],
            [
                -74.136833,
                4.548174
            ],
            [
                -74.1368,
                4.54833
            ],
            [
                -74.136684,
                4.548761
            ],
            [
                -74.136327,
                4.550263
            ],
            [
                -74.136273,
                4.550566
            ],
            [
                -74.136236,
                4.550936
            ],
            [
                -74.136256,
                4.551367
            ],
            [
                -74.136315,
                4.551709
            ],
            [
                -74.136407,
                4.552053
            ],
            [
                -74.137533,
                4.555267
            ],
            [
                -74.138216,
                4.557277
            ],
            [
                -74.138858,
                4.55911
            ],
            [
                -74.138913,
                4.559325
            ],
            [
                -74.138967,
                4.55966
            ],
            [
                -74.138989,
                4.560135
            ],
            [
                -74.138944,
                4.560634
            ],
            [
                -74.138677,
                4.562361
            ],
            [
                -74.138537,
                4.563509
            ],
            [
                -74.138347,
                4.564706
            ],
            [
                -74.138188,
                4.565868
            ],
            [
                -74.138051,
                4.566747
            ],
            [
                -74.138038,
                4.566917
            ],
            [
                -74.138054,
                4.567762
            ],
            [
                -74.138082,
                4.567964
            ],
            [
                -74.138333,
                4.569018
            ],
            [
                -74.13877,
                4.570769
            ],
            [
                -74.139045,
                4.571802
            ],
            [
                -74.13957,
                4.573998
            ],
            [
                -74.139843,
                4.575074
            ],
            [
                -74.139994,
                4.5756
            ],
            [
                -74.140132,
                4.575913
            ],
            [
                -74.140559,
                4.576729
            ],
            [
                -74.141292,
                4.578186
            ],
            [
                -74.141527,
                4.57873
            ],
            [
                -74.142395,
                4.580978
            ],
            [
                -74.142595,
                4.581455
            ],
            [
                -74.142823,
                4.582171
            ],
            [
                -74.142861,
                4.582394
            ],
            [
                -74.142965,
                4.583381
            ],
            [
                -74.143028,
                4.583742
            ],
            [
                -74.143106,
                4.584045
            ],
            [
                -74.143384,
                4.584833
            ],
            [
                -74.143727,
                4.585674
            ],
            [
                -74.144514,
                4.587714
            ],
            [
                -74.144994,
                4.58894
            ],
            [
                -74.145082,
                4.589242
            ],
            [
                -74.145128,
                4.589525
            ],
            [
                -74.145157,
                4.590953
            ],
            [
                -74.14516,
                4.591934
            ],
            [
                -74.145251,
                4.593473
            ],
            [
                -74.145268,
                4.594576
            ],
            [
                -74.145263,
                4.596176
            ],
            [
                -74.145248,
                4.596434
            ],
            [
                -74.145074,
                4.597177
            ],
            [
                -74.144972,
                4.597761
            ],
            [
                -74.144672,
                4.598856
            ],
            [
                -74.144173,
                4.600155
            ],
            [
                -74.143855,
                4.601029
            ],
            [
                -74.143026,
                4.60324
            ],
            [
                -74.142732,
                4.604071
            ],
            [
                -74.142125,
                4.605669
            ],
            [
                -74.141415,
                4.607665
            ],
            [
                -74.141328,
                4.607996
            ],
            [
                -74.140919,
                4.611212
            ],
            [
                -74.140133,
                4.615428
            ],
            [
                -74.139349,
                4.618445
            ],
            [
                -74.138662,
                4.621201
            ],
            [
                -74.138637,
                4.621198
            ],
            [
                -74.138662,
                4.621201
            ],
            [
                -74.138509,
                4.621939
            ],
            [
                -74.13831,
                4.623495
            ],
            [
                -74.137918,
                4.627172
            ],
            [
                -74.13732,
                4.633211
            ],
            [
                -74.13721,
                4.63411
            ],
            [
                -74.1371,
                4.634887
            ],
            [
                -74.136806,
                4.63633
            ],
            [
                -74.136693,
                4.636711
            ],
            [
                -74.136234,
                4.637983
            ],
            [
                -74.1356,
                4.639331
            ],
            [
                -74.135222,
                4.640027
            ],
            [
                -74.134536,
                4.64115
            ],
            [
                -74.134026,
                4.641882
            ],
            [
                -74.133793,
                4.642175
            ],
            [
                -74.133108,
                4.642973
            ],
            [
                -74.132804,
                4.643369
            ],
            [
                -74.131948,
                4.644327
            ],
            [
                -74.131325,
                4.644987
            ],
            [
                -74.130855,
                4.645509
            ],
            [
                -74.13013,
                4.646202
            ],
            [
                -74.129681,
                4.646659
            ],
            [
                -74.12923,
                4.64709
            ],
            [
                -74.128329,
                4.647811
            ],
            [
                -74.127223,
                4.64866
            ],
            [
                -74.126747,
                4.649069
            ],
            [
                -74.126022,
                4.649741
            ],
            [
                -74.125672,
                4.650125
            ],
            [
                -74.124997,
                4.650971
            ],
            [
                -74.123657,
                4.652474
            ],
            [
                -74.122247,
                4.654138
            ],
            [
                -74.121383,
                4.655104
            ],
            [
                -74.120301,
                4.656365
            ],
            [
                -74.119262,
                4.657519
            ],
            [
                -74.118718,
                4.658171
            ],
            [
                -74.116854,
                4.660296
            ],
            [
                -74.116292,
                4.660976
            ],
            [
                -74.115975,
                4.661321
            ],
            [
                -74.115141,
                4.662317
            ],
            [
                -74.114138,
                4.663427
            ],
            [
                -74.113734,
                4.663916
            ],
            [
                -74.113221,
                4.664485
            ],
            [
                -74.112579,
                4.66527
            ],
            [
                -74.112035,
                4.665906
            ],
            [
                -74.111389,
                4.666614
            ],
            [
                -74.111077,
                4.666913
            ],
            [
                -74.110719,
                4.667306
            ],
            [
                -74.106736,
                4.671327
            ],
            [
                -74.105515,
                4.67253
            ],
            [
                -74.104904,
                4.673187
            ],
            [
                -74.104848,
                4.673132
            ],
            [
                -74.104223,
                4.673807
            ],
            [
                -74.104021,
                4.674075
            ],
            [
                -74.103911,
                4.674258
            ],
            [
                -74.103664,
                4.674732
            ],
            [
                -74.103333,
                4.675414
            ],
            [
                -74.103162,
                4.675673
            ],
            [
                -74.102312,
                4.676836
            ],
            [
                -74.101424,
                4.678109
            ],
            [
                -74.10044,
                4.679437
            ],
            [
                -74.100147,
                4.679872
            ],
            [
                -74.099846,
                4.680279
            ],
            [
                -74.098689,
                4.681637
            ],
            [
                -74.094952,
                4.687047
            ],
            [
                -74.093788,
                4.688769
            ],
            [
                -74.092437,
                4.690734
            ],
            [
                -74.092194,
                4.69112
            ],
            [
                -74.091867,
                4.691726
            ],
            [
                -74.090847,
                4.693743
            ],
            [
                -74.090675,
                4.694031
            ],
            [
                -74.090366,
                4.694428
            ],
            [
                -74.090182,
                4.69461
            ],
            [
                -74.090039,
                4.694716
            ],
            [
                -74.08977,
                4.694866
            ],
            [
                -74.089639,
                4.694918
            ],
            [
                -74.089117,
                4.694963
            ],
            [
                -74.088929,
                4.695004
            ],
            [
                -74.088822,
                4.695064
            ],
            [
                -74.088747,
                4.695133
            ],
            [
                -74.088594,
                4.695356
            ],
            [
                -74.088522,
                4.695437
            ],
            [
                -74.088307,
                4.695569
            ],
            [
                -74.086634,
                4.696138
            ],
            [
                -74.08494,
                4.696576
            ],
            [
                -74.0833,
                4.697034
            ],
            [
                -74.083105,
                4.697111
            ],
            [
                -74.082936,
                4.697197
            ],
            [
                -74.082652,
                4.697386
            ],
            [
                -74.082409,
                4.697616
            ],
            [
                -74.082228,
                4.69784
            ],
            [
                -74.082112,
                4.698042
            ],
            [
                -74.082028,
                4.69827
            ],
            [
                -74.081951,
                4.698552
            ],
            [
                -74.08097,
                4.702349
            ],
            [
                -74.080918,
                4.702681
            ],
            [
                -74.080914,
                4.702982
            ],
            [
                -74.080982,
                4.703388
            ],
            [
                -74.081711,
                4.705486
            ],
            [
                -74.081766,
                4.705776
            ],
            [
                -74.081747,
                4.706203
            ],
            [
                -74.081715,
                4.706353
            ],
            [
                -74.081613,
                4.706686
            ],
            [
                -74.080199,
                4.709462
            ],
            [
                -74.079627,
                4.710581
            ],
            [
                -74.079218,
                4.711119
            ],
            [
                -74.078913,
                4.711426
            ],
            [
                -74.078422,
                4.711987
            ],
            [
                -74.07739,
                4.713594
            ],
            [
                -74.07702,
                4.714307
            ],
            [
                -74.076852,
                4.714662
            ],
            [
                -74.076633,
                4.715024
            ],
            [
                -74.076341,
                4.715365
            ],
            [
                -74.076225,
                4.715552
            ],
            [
                -74.076074,
                4.715923
            ],
            [
                -74.075781,
                4.716725
            ],
            [
                -74.07555,
                4.717408
            ],
            [
                -74.075448,
                4.717792
            ],
            [
                -74.07495,
                4.72019
            ],
            [
                -74.07487,
                4.720485
            ],
            [
                -74.074572,
                4.721278
            ],
            [
                -74.07444,
                4.721575
            ],
            [
                -74.074267,
                4.721908
            ],
            [
                -74.073826,
                4.722639
            ],
            [
                -74.07316,
                4.723547
            ],
            [
                -74.070813,
                4.726342
            ],
            [
                -74.069803,
                4.727617
            ],
            [
                -74.069654,
                4.727824
            ],
            [
                -74.069186,
                4.728587
            ],
            [
                -74.068556,
                4.729685
            ],
            [
                -74.068431,
                4.729935
            ],
            [
                -74.068129,
                4.730714
            ],
            [
                -74.067656,
                4.73181
            ],
            [
                -74.067254,
                4.732699
            ],
            [
                -74.067139,
                4.733009
            ],
            [
                -74.06689,
                4.733886
            ],
            [
                -74.066388,
                4.735722
            ],
            [
                -74.06618,
                4.736697
            ],
            [
                -74.065791,
                4.738372
            ],
            [
                -74.065348,
                4.740583
            ],
            [
                -74.065173,
                4.741716
            ],
            [
                -74.065073,
                4.742678
            ],
            [
                -74.064951,
                4.74418
            ],
            [
                -74.064841,
                4.745765
            ],
            [
                -74.064775,
                4.747168
            ],
            [
                -74.064774,
                4.748472
            ],
            [
                -74.06479,
                4.748767
            ],
            [
                -74.064869,
                4.749961
            ],
            [
                -74.065022,
                4.751628
            ],
            [
                -74.0652,
                4.753066
            ],
            [
                -74.065682,
                4.756606
            ],
            [
                -74.065786,
                4.757094
            ],
            [
                -74.066183,
                4.758679
            ],
            [
                -74.0662,
                4.758901
            ],
            [
                -74.066194,
                4.759162
            ],
            [
                -74.06614,
                4.759484
            ],
            [
                -74.066036,
                4.759811
            ],
            [
                -74.065918,
                4.760047
            ],
            [
                -74.065755,
                4.760281
            ],
            [
                -74.065725,
                4.760258
            ]
        ]
    };

    const coordinatesAvBoyaca = cicloviaAvBoyaca.coordinates;

    const cicloviaAvCarrera9_Usaquen = {
        "coordinates": [
            [
                -74.031797,
                4.747967
            ],
            [
                -74.031985,
                4.74018
            ],
            [
                -74.03205,
                4.738169
            ],
            [
                -74.032131,
                4.734464
            ],
            [
                -74.032191,
                4.732828
            ],
            [
                -74.032265,
                4.730154
            ],
            [
                -74.032297,
                4.728283
            ],
            [
                -74.03238,
                4.725936
            ],
            [
                -74.032461,
                4.722603
            ],
            [
                -74.032547,
                4.71989
            ],
            [
                -74.032552,
                4.718978
            ],
            [
                -74.032729,
                4.712924
            ],
            [
                -74.03276,
                4.712277
            ],
            [
                -74.032796,
                4.710234
            ],
            [
                -74.032875,
                4.707103
            ],
            [
                -74.032966,
                4.704412
            ],
            [
                -74.032971,
                4.703718
            ],
            [
                -74.032987,
                4.703506
            ],
            [
                -74.033038,
                4.700878
            ],
            [
                -74.033131,
                4.698098
            ],
            [
                -74.033187,
                4.697539
            ],
            [
                -74.033248,
                4.697304
            ],
            [
                -74.033508,
                4.696657
            ],
            [
                -74.033907,
                4.695809
            ],
            [
                -74.034378,
                4.694741
            ],
            [
                -74.034489,
                4.694632
            ],
            [
                -74.034637,
                4.694538
            ],
            [
                -74.034798,
                4.69449
            ],
            [
                -74.034912,
                4.694479
            ],
            [
                -74.035067,
                4.694513
            ],
            [
                -74.035418,
                4.694644
            ],
            [
                -74.035826,
                4.694775
            ],
            [
                -74.036198,
                4.694851
            ],
            [
                -74.036684,
                4.694909
            ]
        ]
    };

    const coordinatesAvCarrera9_Usaquen = cicloviaAvCarrera9_Usaquen.coordinates;

    const cicloviaCalle116 = {
        "coordinates": [
            [
                -74.033559,
                4.693779
            ],
            [
                -74.035454,
                4.694565
            ],
            [
                -74.035772,
                4.694669
            ],
            [
                -74.037285,
                4.695073
            ],
            [
                -74.0392,
                4.695545
            ],
            [
                -74.040766,
                4.695952
            ],
            [
                -74.041566,
                4.696194
            ],
            [
                -74.041906,
                4.696271
            ],
            [
                -74.0429,
                4.696396
            ],
            [
                -74.043239,
                4.69649
            ],
            [
                -74.043425,
                4.69655
            ],
            [
                -74.04388,
                4.696738
            ],
            [
                -74.044921,
                4.697226
            ],
            [
                -74.045151,
                4.697304
            ],
            [
                -74.046144,
                4.697564
            ],
            [
                -74.04685,
                4.697781
            ],
            [
                -74.047855,
                4.698178
            ],
            [
                -74.048701,
                4.698486
            ],
            [
                -74.048963,
                4.698549
            ],
            [
                -74.049987,
                4.698746
            ],
            [
                -74.053152,
                4.699264
            ],
            [
                -74.053879,
                4.699331
            ],
            [
                -74.054393,
                4.699438
            ],
            [
                -74.056803,
                4.699844
            ],
            [
                -74.059385,
                4.700298
            ],
            [
                -74.064942,
                4.701221
            ],
            [
                -74.06597,
                4.701505
            ],
            [
                -74.067277,
                4.701798
            ],
            [
                -74.067378,
                4.701803
            ],
            [
                -74.067506,
                4.701783
            ],
            [
                -74.06766,
                4.701728
            ],
            [
                -74.068076,
                4.701405
            ]
        ]
    };

    const coordinatesCalle116 = cicloviaCalle116.coordinates;


    const cicloviaAvPepeSierra = {
        "coordinates": [
            [
                -74.064427,
                4.709209
            ],
            [
                -74.064794,
                4.706841
            ],
            [
                -74.065039,
                4.705467
            ],
            [
                -74.065265,
                4.704357
            ],
            [
                -74.065547,
                4.703668
            ],
            [
                -74.065691,
                4.703369
            ],
            [
                -74.06582,
                4.703161
            ],
            [
                -74.065978,
                4.702967
            ],
            [
                -74.066067,
                4.702887
            ],
            [
                -74.066788,
                4.702347
            ],
            [
                -74.06766,
                4.701728
            ],
            [
                -74.069446,
                4.700314
            ],
            [
                -74.069527,
                4.70026
            ],
            [
                -74.069632,
                4.700216
            ],
            [
                -74.072068,
                4.699565
            ],
            [
                -74.074482,
                4.698941
            ],
            [
                -74.075156,
                4.698785
            ],
            [
                -74.075696,
                4.698768
            ],
            [
                -74.076048,
                4.698817
            ],
            [
                -74.076422,
                4.698922
            ],
            [
                -74.07665,
                4.699022
            ],
            [
                -74.077052,
                4.69923
            ],
            [
                -74.079077,
                4.700341
            ],
            [
                -74.079413,
                4.700506
            ],
            [
                -74.079905,
                4.700809
            ],
            [
                -74.080866,
                4.701333
            ],
            [
                -74.080992,
                4.701421
            ],
            [
                -74.08105,
                4.701508
            ],
            [
                -74.081071,
                4.701575
            ],
            [
                -74.081062,
                4.701997
            ],
            [
                -74.081025,
                4.702138
            ]
        ]
    };

    const coordinatesAvPepeSierra = cicloviaAvPepeSierra.coordinates;




    const cicloviaCalle147 = {
        "coordinates": [
            [
                -74.045253,
                4.729631
            ],
            [
                -74.045249,
                4.729651
            ],
            [
                -74.041295,
                4.729346
            ],
            [
                -74.041024,
                4.72929
            ],
            [
                -74.040365,
                4.729007
            ],
            [
                -74.034801,
                4.726523
            ],
            [
                -74.032048,
                4.72527
            ]
        ]
    };

    const coordinatesCalle147 = cicloviaCalle147.coordinates;


    const cicloviaAvCarrera15 = {
        "coordinates": [
            [
                -74.061482,
                4.659359
            ],
            [
                -74.059757,
                4.661878
            ],
            [
                -74.059155,
                4.662782
            ],
            [
                -74.057761,
                4.665293
            ],
            [
                -74.056349,
                4.667792
            ],
            [
                -74.055258,
                4.670103
            ],
            [
                -74.053807,
                4.673122
            ],
            [
                -74.051935,
                4.676782
            ],
            [
                -74.048951,
                4.682527
            ],
            [
                -74.048547,
                4.683309
            ],
            [
                -74.048508,
                4.683418
            ],
            [
                -74.048411,
                4.683846
            ],
            [
                -74.04832,
                4.684129
            ],
            [
                -74.04826,
                4.684219
            ],
            [
                -74.048184,
                4.6843
            ],
            [
                -74.047986,
                4.684464
            ],
            [
                -74.047848,
                4.684525
            ],
            [
                -74.047719,
                4.684642
            ],
            [
                -74.047672,
                4.684715
            ],
            [
                -74.047618,
                4.684881
            ],
            [
                -74.04762,
                4.685032
            ],
            [
                -74.047645,
                4.68513
            ],
            [
                -74.047734,
                4.68528
            ],
            [
                -74.047829,
                4.685612
            ],
            [
                -74.047841,
                4.6858
            ],
            [
                -74.047793,
                4.686202
            ],
            [
                -74.047308,
                4.687891
            ],
            [
                -74.047018,
                4.688503
            ],
            [
                -74.046578,
                4.689348
            ],
            [
                -74.046399,
                4.689634
            ],
            [
                -74.045767,
                4.690516
            ],
            [
                -74.043508,
                4.694715
            ],
            [
                -74.043337,
                4.695056
            ],
            [
                -74.043252,
                4.695288
            ],
            [
                -74.043148,
                4.695725
            ],
            [
                -74.043089,
                4.696245
            ],
            [
                -74.042711,
                4.703793
            ]
        ]
    };

    const coordinatesAvCarrera15 = cicloviaAvCarrera15.coordinates;




    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(mymap);

    const rutaCiclovia170 = L.polyline(coordinates170.map(coord => [coord[1], coord[0]]), { color: 'red' }).addTo(mymap);
    const rutaAvBoyaca = L.polyline(coordinatesAvBoyaca.map(coord => [coord[1], coord[0]]), { color: 'red' }).addTo(mymap);
    const rutaAvCarrera9_Usaquen = L.polyline(coordinatesAvCarrera9_Usaquen.map(coord => [coord[1], coord[0]]), { color: 'red' }).addTo(mymap);
    const rutaCalle116 = L.polyline(coordinatesCalle116.map(coord => [coord[1], coord[0]]), { color: 'red' }).addTo(mymap);
    const rutaAvPepeSierra = L.polyline(coordinatesAvPepeSierra.map(coord => [coord[1], coord[0]]), { color: 'red' }).addTo(mymap);
    const rutaCalle147  = L.polyline(coordinatesCalle147.map(coord => [coord[1], coord[0]]), { color: 'red' }).addTo(mymap);
    const rutaAvCarrera15 = L.polyline(coordinatesAvCarrera15.map(coord => [coord[1], coord[0]]), { color: 'red' }).addTo(mymap);


</script>
</body>
</html>
